<h2>Your Cart</h2>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Product Name</th>
					<th scope="col">Product Price</th>
					<th scope="col">Quantity</th>
					<th scope="col">Item Total Price</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let product of cartProducts | keyvalue">
					<td>{{product.value.name}}</td>
					<td>{{product.value.price | currency :'CAD'}}</td>
					<td>{{product.key.quantity}}</td>
					<td>{{(product.value.price * product.key.quantity) | currency :'CAD'}}</td>
					<td><a class="btn-link pointer" (click)="remove(product.value.id)">remove</a></td>
				</tr>

			</tbody>

		</table>
		<h3 class="text-end">
			CART TOTAL : $<span th:text="${cart.cartTotal}"></span>
		</h3>
