<div class="bold-on-hover">
  <div><svg-icon [icon]="'git'" [height]="'50px'"></svg-icon><a href="https://github.com/amanda6mard/portfolio" target="_blank">github.com/amanda6mard</a></div>
  <div><svg-icon [icon]="'linkedin'" [height]="'50px'"></svg-icon><a href="https://www.linkedin.com/in/amanda-simard-ww/" target="_blank">linkedin.com/in/amanda-simard-ww</a></div>
  <div><svg-icon [icon]="'email'" [height]="'50px'"></svg-icon><a href="mailto:amanda6mard@gmail.com" target="_blank">amanda6mard@gmail.com</a></div>
  <div><svg-icon [icon]="'phone'" [height]="'50px'"></svg-icon>514-573-3916</div>
</div>
