<nav [class]="class">
  <ul>
    <li><a routerLink="" routerLinkActive="active-tab" [routerLinkActiveOptions]="{exact:true}"><span class="home-decorator">home</span></a></li>
    <li><a routerLink="projects" routerLinkActive="active-tab"><span class="projects-decorator">projects</span></a></li>
    <li><a routerLink="cv" routerLinkActive="active-tab"><span class="cv-decorator">cv</span></a></li>
    <li><a routerLink="about" routerLinkActive="active-tab"><span class="about-decorator">about</span></a></li>
    <li><a routerLink="contact" routerLinkActive="active-tab"><span class="contact-decorator">contact</span></a></li>
  </ul>
</nav>
