$monospace-basic: 'Courier Prime', monospace;
$main-font: 'Roboto', sans-serif;
$pixel-font: 'VT323', monospace;
$display-font: 'Montserrat', sans-serif;

$red: rgb(226, 35, 35);
$orange: orange;
$yellow: rgb(255, 217, 0);
$green: rgb(59, 128, 59);
$blue: rgb(14, 104, 189);
$indigo: rgb(59, 14, 131);
$purple: rgb(126, 53, 148);
$black: #242424;

$primary-color: $purple;

$home-color: $red;
$projects-color: $orange;
$cv-color: $green;
$about-color: $blue;
$contact-color: $indigo;
